.main-header {
  position: sticky; /* sticky-ზე დაბრუნება */
  top: 0;
  z-index: 50;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
  overflow: hidden;
}

.header1 {
  position: relative;
  width: 100%;
  background-color: inherit;
   border-bottom: 1px solid rgba(165, 189, 165, 0.2);
   box-shadow: 0 2px 8px rgba(165, 189, 165, 0.15);
}

.header2 {
  position: relative;
  width: 100%;
  /* border-top: 1px solid rgba(165, 189, 165, 0.2); */
  
}

.container {
  margin: 0 auto;
  padding: 0 8%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 12px;
}

.menu-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.logo {
  font-size: 20px;
  text-decoration: none;
  color: #2b5531;
  display: flex;
  align-items: center;
}

.logoImage {
  height: 38px;
  width: 38px;
  margin: 0px 2px;
}

.search-box {
  flex: 1;
  max-width: 400px;
  margin: 10px auto;
}

.search-box.desktop-only {
  display: block;
}

.search-box.mobile-only {
  display: none;
  width: 90%;
  margin: 10px auto;
  padding: 10px 0;
}

.search-box-below {
  width: 90%;
  margin: 10px auto;
  padding: 10px 0;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 20px;
}

.mobile-menu {
  display: none;
  border-top: 1px solid #e0e0e0;
  background: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.mobile-menu.open {
  display: block;
  max-height: 500px;
}

.mobile-menu-content {
  padding: 16px;
}

.menu-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  border-top: 1px solid #e0e0e0;
}

.mobile-search {
  display: none;
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
}

/* Responsive Styles */
@media (max-width: 1000px) {
  .menu-button {
    display: block;
  }

  .search-box {
    max-width: 90%;
    margin: 10px auto;
  }

  .search-box.desktop-only {
    display: none;
  }

  .search-box.mobile-only {
    display: block;
  }

  .search-box-below {
    width: 90%;
    margin: 10px auto;
  }

  .nav-menu {
    display: flex;
    gap: 10px;
  }

  .nav-menu svg {
    width: 20px;
    height: 20px;
  }

  .nav-menu .user-menu {
    font-size: 14px;
  }

  .mobile-menu {
    display: block;
  }

  .search-input {
    padding-left: 10%;
  }

  .header__actions {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .header__lang {
    display: none;
  }

  .mobile-search {
    display: block;
  }

  .search-box.desktop-only {
    display: none;
  }
  
  .cartIcon {
    width: 50px;
    height: auto;
    margin: 0;
  }
  
  .cartIconsSpan {
    bottom: 10px;
    left: 32px;
  }
}