.forum-page {
  padding: 5%;
}

.create-post-button {
  background: linear-gradient(to left,  #2a5530, #ec9843);
  background-size: 150% 100%; 
  transition: background-position 1.7s ease-in-out; 
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 15px 50px;
  color: white;
  font-size: 24px;
  width: 100%;
  cursor: pointer;
}

.create-post-button:hover {
  background-position: right;
}


.delete-post-button {
  background: red;
  border: none;
  box-shadow: 3px 3px 9px 0px;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.delete-post-button:hover {
  background: #b22b2b;
}
