.photo-container {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    position: relative;
    cursor: crosshair;
    /* cursor: url("custom-cursor.png"), crosshair;  */
  }
  
  .photo-frame {
    position: relative;
    border: 7px solid #264D2B; 
    border-radius: 10px;
    overflow: hidden;
    width: 80%;
    max-width: 800px;
  }
  
  .main-photo {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .map {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 200px;
    height: auto;
    border-radius: 8px;
    background-color: white;
    z-index: 2;
    cursor: pointer;
    transition: transform 0.3s ease; 
  }
  
  .map:hover {
    transform: scale(1.1); 
  }
  
  
  .target {
    position: absolute;
    width: 120px; 
    height: 120px;
    pointer-events: none;
    transform: translate(-50%, -50%);
    /* transition: all 0s ease;  */
  }
  