.beep-container {
    margin: 300px;
    position: relative;
    width: 120px;
    height: 120px;
  }
  
  .heart {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 10px;
    left: 10px;
    transform: rotate(-45deg);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: box-shadow 0.1s, transform 0.1s;
  }
  
  .heart::before,
  .heart::after {
    content: "";
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
  }
  
  .heart::before {
    top: -50px;
    left: 0;
  }
  
  .heart::after {
    top: 0;
    left: 50px;
  }
  
  .heart.pressed {
    box-shadow: inset 0 5px 15px rgba(0,0,0,0.4);
    transform: rotate(-45deg) scale(0.95);
  }
  
  .particle {
    position: absolute;
    top: 60px; /* გულთან ცენტრში */
    left: 60px;
    font-size: 20px;
    opacity: 1;
    pointer-events: none;
    animation: flyOut 1.8s forwards;
  }
  
  @keyframes flyOut {
    to {
      transform: translate(var(--translateX), var(--translateY));
      opacity: 0;
    }
  }
  .best-score {
    position: absolute;
    width: 250px;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    background: rgba(255,255,255,0.9);
    padding: 4px 10px;
    border-radius: 8px;
    color: #333;
    /* box-shadow: 0 0 5px rgba(0,0,0,0.2); */
  }
  
  .scoreboard {
    position: absolute;
    top: 50%;
    right: -170px;
    transform: translateY(-50%);
    background: rgba(255,255,255,0.9);
    padding: 6px 12px;
    border-radius: 8px;
    color: #333;
    /* box-shadow: 0 0 5px rgba(0,0,0,0.2); */
    text-align: start;
    font-size: 16px;
  }
  
  .result {
    position: absolute;
    display: flex;
    top: 100%;
    left: 50%;
    width: 280px;
    gap: 10px;
    transform: translate(-50%, 20px);
    background: rgba(255,255,255,0.95);
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    color: #333;
    /* box-shadow: 0 2px 8px rgba(0,0,0,0.3); */
  }
  
  .result button {
    margin-top: 8px;
    padding: 6px 14px;
    background: green;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .result button:hover {
    background: rgb(0, 95, 0);
  }


  .star {
    width: 150px;
    height: 150px;
    background: radial-gradient(circle, #204dc9, #2ecc71);
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
    cursor: pointer;
    transition: transform 0.1s ease;
    margin: 20px auto;
  }
  
  .star.pressed {
    transform: scale(0.9);
  }