.photo-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  cursor: crosshair;
  /* cursor: url("custom-cursor.png"), crosshair;  */
}

.photo-frame {
  position: relative;
  border: 7px solid #264d2b;
  border-radius: 10px;
  overflow: hidden;
  width: 80%;
  max-width: 800px;
}

.main-photo {
  width: 100%;
  height: auto;
  display: block;
}

.map {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 200px;
  height: auto;
  border-radius: 8px;
  background-color: white;
  z-index: 2;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.map:hover {
  transform: scale(1.1);
}

.target {
  position: absolute;
  width: 120px;
  height: 120px;
  pointer-events: none;
  transform: translate(-50%, -50%);
  /* transition: all 0s ease;  */
}

@media screen and (max-width: 768px) {
  .photo-container {
    height: auto;
    min-height: 50vh;
    padding: 10px;
  }

  .photo-frame {
    width: 100%;
    border-width: 5px;
  }

  .map {
    width: 120px;
    bottom: 5px;
    right: 5px;
  }

  .target {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 480px) {
  .map {
    width: 100px;
  }

  .target {
    width: 60px;
    height: 60px;
  }
}
