.logo{
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.auth-layout {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: white;
  padding: 40px;
  padding-bottom: 80px;
}
.auth-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh; /* ნახევარი ეკრანი */
  background: linear-gradient(to bottom, #2A5530, #EC9843);
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  z-index: 0;
}

.auth-layout-inner {
  margin-top: 80px;
  width: 100%;
  max-width: 24rem;
  position: relative;
  z-index: 1; 
  background: rgba(253, 245, 236, 0.52); 
  padding: 2rem;
  border-radius: 30px;
  box-shadow: 0 4px 10px #2a5530b5;
  backdrop-filter: blur(10px); /* ბლურ ეფექტი */
  -webkit-backdrop-filter: blur(10px); /* Safari მხარდაჭერა */
}


.auth-layout-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem; /* space-y-2 */
}

.auth-layout-title {
  font-size: 1.25rem; /* text-2xl */
  font-weight: 600; /* font-semibold */
  letter-spacing: 0.025em; /* tracking-tight */
  color: #2A5530;
}

.auth-layout-subtitle {
  font-size: 0.875rem; /* text-sm */
  color: #2a5530b2;
}

.auth-layout-children {
  margin-top: 2rem; /* mt-8 */
}




