.HomePageshead {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    isolation: isolate;
    background-color: rgb(2, 28, 9);
}

.main-photo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}   

.discount-cards-container {
    display: flex;
    justify-content: space-around;
    /* margin-top: -80px; */
    margin-top: 20px;
    z-index: 2;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .HomePageshead {
        height: 350px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 0.5%;
    }

    /* ზედა კონტეინერი */
    .HomePageshead > div:nth-child(-n+2) {
        display: flex;
    }

    /* ნავბარის კონტეინერი */
    .HomePageshead > div:first-child {
        /* width: 25%; */
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
    }

    /* მეინფოტოს კონტეინერი */
    .HomePageshead > div:nth-child(2) {
        width: 85%;
        margin-left: auto;
        z-index: 1;
    }

    /* დისქაუნთ ქარდების კონტეინერი */
    .HomePageshead > div:nth-child(3) {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 480px) {
    .HomePageshead {
        height: 300px;
        padding: 0;
    }

    .HomePageshead > div:first-child {
        width: 30%;
    }

    .HomePageshead > div:nth-child(2) {
        width: 80%;
    }

    .HomePageshead > div:nth-child(3) {
        gap: 10px;
    }
}