/* Satoshi Font Definition */
@font-face {
  font-family: 'Satoshi';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Satoshi-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Satoshi';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Satoshi-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Satoshi';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Satoshi-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Satoshi';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Satoshi-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Satoshi';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Satoshi-Black.woff2') format('woff2');
}

/* CSS Variables for Satoshi Font */
:root {
  --font-satoshi: 'Satoshi', sans-serif;
}
