.homePageForum {
  padding: 10px 5%;
  /* background-color: #e9ebf8;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; */
}

.homePageForumH1 {
  width: 100%;
  text-align: left;
  color: #402000;
}

.forumPageLink {
  
  text-align: right;
  text-decoration: none;
  color: green;
  font-size: 20px;
  font-weight: bolder;
  float: right;
}

/* 768px-მდე ეკრანებისთვის */
@media screen and (max-width: 768px) {
  .homePageForum {
    padding: 10px 3%;
    gap: 10px;
  }

  .homePageForumH1 {
    font-size: 22px;
    text-align: center;
  }

  .forumPageLink {
    font-size: 18px;
    text-align: center;
  }
}

/* 480px-მდე ეკრანებისთვის */
@media screen and (max-width: 480px) {
  .homePageForum {
    padding: 10px 2%;
    gap: 8px;
  }

  .homePageForumH1 {
    font-size: 20px;
    text-align: center;
  }

  .forumPageLink {
    font-size: 16px;
    text-align: center;
  }
}
