.homePageForum {
  padding: 10px 5%;
  background-color: #e9ebf8;
}
.homePageForumH1 {
  display: flex;
  justify-content: flex-start;
  color: #402000;
}
.forumPageLink {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  color: #402000;
  font-size: 20px;
}
