.product-card {
  display: flex;
  flex-direction: column;
  /* width: calc(20% - 20px); */
  max-width: 20vw;
  padding: 15px;
  border-radius: 8px;
  overflow: hidden;
  /* background-color: #2a553020; */
  background: linear-gradient(to left, #2a55303f, #ec974326);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  text-decoration: none;
  position: relative;
}
.product-card a {
  text-decoration: none;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.product-image {
  position: relative;
  width: 100%;
  max-height: 200px;

  /* background-color: #EC9843; */
  /* border:  1px solid #2A5530; */
  border-radius: 8px;
  overflow: hidden;
}

.discount-badge {
  position: absolute;
  top: 5px;
  right: 5px;
  background: linear-gradient(45deg, #e74c3c, #c0392b);
  color: white;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
  z-index: 2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.product-info {
  /* padding: 5px; */
  display: flex;
  flex-direction: column;
  /* min-height: 180px;
  max-height: 180px; */
}

.product-name {
  font-size: 1.5em;
  font-weight: 700;
  margin: 15px 0px -15px 0;
  color: #2a5530;
  text-align: center;
  min-height: 50px;
  max-height: 50px;
}

.product-details {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* font-size: 1rem; */
  /* color: #fff; */
}

.priceAndRaiting {
  display: flex;
  gap: 30%;
  flex-direction: column;
  align-items: flex-start;
}

.price-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-price {
  font-weight: 700;
  font-size: 28px;
  color: #2a5530;
  margin: 10% 0;
}

.original-price {
  font-size: 18px;
  color: #888;
  text-decoration: line-through;
  font-weight: 500;
}

.product-rating {
  display: flex;
  align-items: center;
  color: #b26b2d;
}

.cart-actions {
  display: flex;
  align-items: flex-end;
  max-height: 50px;
  min-height: 50px;
}

.quantity-container {
  display: flex;
  /* flex-direction: column; */
  /* background-color: #EC9843; */
  align-items: center;
  /* background-color: #2a5530c4; */
  padding: 20px 10px;
  border-radius: 6px 0px 0px 6px;
  max-height: 10px;
  background-color: white;
}

.quantity-button {
  /* background-color: #EC9843; */
  background-color: inherit;
  color: #2a5530;
  border: none;
  padding: 2.5px 6px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.quantity-button:hover {
  background-color: #b26b2d;
}

.quantity-input {
  text-align: center;
  width: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  color: #2a5530;
  background-color: transparent;
  border: none;
}

.addButtonCart {
  background: linear-gradient(to left, #2a5530, #ec9843);
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 0px 6px 6px 0px;
  transition: background 0.3s ease;
  width: 100%;
  margin-top: 12px;
  max-height: 50px;
  min-height: 50px;
}

/* .addButtonCart:hover {
  background: linear-gradient(to right, #2A5530, #EC9843);
} */

.addButtonCart:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media (max-width: 1200px) {
  .product-card {
    max-width: 70vw;
  }
}
@media (max-width: 770px) {
  .product-card {
    max-width: 40vw;
  }
}
@media (max-width: 480px) {
  .product-card {
    max-width: 90vw;
  }
}
