.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #2a5530;
}

.form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input-group label {
  font-size: 14px;
  font-weight: bold;
}

input {
  padding: 8px;
  border: 1px solid #2a5530;
  border-radius: 4px;
  font-size: 14px;
  transition: border 0.3s ease-in-out;
  outline: none;
  width: 95%;
}

input:focus {
  border: 2px solid #2a5530; /* უფრო სქელი და იგივე ფერის ბორდერი */
}
.error-text {
  font-size: 12px;
  color: red;
}

.submit-btn {
  padding: 10px 20px;
  background: linear-gradient(to left, #ec9843, #2a5530);
  background-size: 130% 100%; /* გრადიენტის ზომა */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-position 0.9s ease-in-out; /* ნელი მოძრაობა */
  background-position: right;
}
.submit-btn:hover {
  background-position: left;
}

.submit-btn:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.divider {
  text-align: center;
  margin: 10px 0;
  position: relative;
}
.divider::before,
.divider::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #2a5530b2;
  position: absolute;
  top: 50%;
  left: 0;
}

.divider span {
  background: white;
  padding: 0 10px;
  position: relative;
  z-index: 1;
  font-size: 12px;
  color: #2a5530b2;
}

.social-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #f5f5f5;
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  color: #333;
  transition: border 1.5s ease-in-out, color 0.5s ease-in-out;
  background-clip: padding-box;
  position: relative;
}

.social-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 4px;
  padding: 1px; /* ბორდერის სისქე */
  background: linear-gradient(to right, #2a5530, #ec9843);
  mask: linear-gradient(white, white) content-box, linear-gradient(white, white);
  mask-composite: exclude;
  -webkit-mask: linear-gradient(white, white) content-box,
    linear-gradient(white, white);
  -webkit-mask-composite: xor;

  transition: background-position 1.5s ease-in-out;
}

.social-btn:hover::before {
  background: linear-gradient(to left, #2a5530, #ec9843);
}

.icon {
  margin-right: 8px;
}

.text-center {
  text-align: center;
  font-size: 14px;
  color: #2a5530b2;
}

.login-link {
  color: #2a5530;
  text-decoration: none;
  font-weight: 600;
}

.login-link:hover {
  text-decoration: underline;
}
.verifBtn {
  background-color: transparent;
  color: #2a5530;
  border: 1px solid #2a5530;
  width: 30%;
  border-radius: 3px;
  cursor: pointer;
  align-self: flex-end;
}
