.typewriter {
  font-family: 'Georgia', serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: #2E5730;
  line-height: 1.2;
  display: inline-block;
}

.typewriter-cursor {
  animation: blink 1s infinite;
  color: #2E5730;
  font-weight: normal;
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}

/* Responsive design */
@media screen and (max-width: 768px) {
  .typewriter {
    font-size: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .typewriter {
    font-size: 1.5rem;
  }
}
