.hunting-main-container {
  max-width: 90%;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
  border-radius: 12px;
}

.hunting-main-title {
  font-size: 36px;
  color: #37241E;
}

.hunting-main-season {
  font-size: 24px;
  color: #2A5530;
  margin-bottom: 40px;
}

.hunting-main-description {
  font-size: 16px;
  line-height: 1.6;
  color: #37241E;
  margin-bottom: 80px;
}

.hunting-main-map {
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.hunting-main-map-title {
  font-size: 18px;
  color: #37241E;
  margin-bottom: 10px;
}

.hunting-main-map-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.hunting-main-permit-link {
  width: 100%;
  display: inline-block;
  background-color: #37241E;
  color: #EC9843;
  padding: 50px 0px;
  font-size: 32px;
  font-weight: bold;
  border-radius: 6px;
  text-decoration: none;
  transition: background 0.3s ease;
  margin-top: 40px;
}

.hunting-main-permit-link:hover {
  background-color: #34211d;
  color: #e9a562;
}
